<h2><%= @book.title %></h2>

<p><%= @book.snippet %></p>

<% if @book.author %>
  <h3>BY</h3>
  <p><%= @book.author.first_name %> <%= @book.author.last_name %></p>
<% end %>

<h3>Currently Reading:</h3>
<ul>
  <% @book.users.each do |user| %>
    <li><a href="/users/<%= user.id %>"><%= user.username %></a></li>
  <% end %>
</ul>

<br />
<a href=<%= "#{@book.id}/edit" %>>Edit Book</a>
